{% extends "empleados/layout.html" %} 
{% block content %} 
   <table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Número</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for empleado in empleados %} <!-- Con esto recuperamos los datos -->
        <tr>
            <td>{{empleado[0]}}</td>
            <td>{{empleado[1]}}</td>
            <td>{{empleado[2]}}</td>
            <td>{{empleado[3]}}</td>
            <td><a href="/edit/{{empleado[0]}}">Editar</a> | 
                <a href="/destroy/{{empleado[0]}}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        
    </tbody>
   </table> 
   {%  endblock  %}